@import 'tailwindcss';
@import 'tailwindcss-primeui';

body {
  background-color: var(--p-surface-100); /* claro */
  color: var(--p-surface-900);
}

.theme-dark body {
  background-color: var(--p-surface-900); /* soho.800 = #2d2d40 */
  color: var(--p-surface-50);
}
